platformName='android'
platformVersion='10.0'
deviceName='Samsung Galaxy S20'
app='bs://c700ce60cf13ae8ed97705a55b8e022f13c5827c'
remote_url='http://hub.browserstack.com/wd/hub'
browserstackUser='olga_rubUyz'
browserstackKey='tNKt2nEjirtszq9qdgi2'
projectName='spelly_mobile_test'
buildName='browserstack-build-1'
browserstackSessionName='Spelly'